# compiled output
dist/
*.tsbuildinfo

# dependencies
node_modules/

# database
data/*.db
data/*.db-journal
data/*.db-wal

# environment
.env
.env.*

# test coverage
coverage/

# logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db